<div class="func-section" #funcEle>
  <div class="top-bar">
    <div class="app-title">{{ 'appTitle' | translate:param }}</div><img *ngIf="fullScreen" class="game-title-top" src="./assets/images/page/game-ts.png">
    <a href="#" (click)="toggleHeader($event)" class="full-screen-btn pull-right"><span class="glyphicon glyphicon-chevron-down" *ngIf="fullScreen"></span><span class="glyphicon glyphicon-chevron-up" *ngIf="!fullScreen"></span></a>
  </div>

  <div class="app-banner" [hidden]="fullScreen">
    <div class="control-section">
      <div class="command-bar">
        <img class="game-title" src="./assets/images/page/game-ts.png">
        <a routerLink="/"><span class="glyphicon glyphicon-home"></span></a>
      </div>
    </div>
    <app-page-selector></app-page-selector>
  </div>
</div>

<div class="work-zone" [ngStyle]="{'height': (_win.innerHeight - el.nativeElement.offsetHeight) + 'px'}">
  <ng-container [ngSwitch]="featureName">
    <ng-container *ngSwitchCase="'fillcolor'">
      <app-fill-in-the-color class="fill-in-the-color"></app-fill-in-the-color>
    </ng-container>
  </ng-container>
</div>
