<div class="page-selector-container container">
  <div class="row page-text center-block" [ngStyle]="{'z-index': showPageText ? 500 : 0, 'opacity': showPageText ? 1 : 0}">
    <div class="page-info"><span><b>{{articleInfo.title}}</b></span> -- <label><span [translate]="'PAGE_N'" [translateParams]="{value: paginationSettings?.currentPage}"></span> ( <span [translate]="'TOTAL_PAGE'" [translateParams]="{value: paginationSettings?.bigTotalItems}"></span> )</label></div>
    <p>{{articleInfo.pageText}}</p>
  </div>
  <div class="col-xs-12 col-12 pagination-element" [ngStyle]="{'opacity': showPageText ? 0 : 1}">
    <pagination [totalItems]="paginationSettings.bigTotalItems"
                [(ngModel)]="paginationSettings.currentPage"
                [maxSize]="paginationSettings.maxSize"
                [itemsPerPage]="paginationSettings.itemsPerPage"
                class="pagination-sm"
                [boundaryLinks]="true"
                [rotate]="false"
                [firstText]="paginationSettings.translation.FIRST_PAGE"
                [lastText]="paginationSettings.translation.LAST_PAGE"
                [previousText]="paginationSettings.translation.PREVIOUS_PAGE"
                [nextText]="paginationSettings.translation.NEXT_PAGE"
                (numPages)="paginationSettings.numPages = $event"
                (pageChanged)="pageChanged($event)"
    ></pagination>
  </div>
</div>

