<div class="top-bar">
  <div class="app-title">{{ 'APP_TITLE' | translate:param }}</div>
  <div class="funn-screen-btn pull-right"><span class="glyphicon glyphicon-fullscreen"></span></div>
</div>

<div class="app-banner">
  <div class="control-selction">
    <div class="command-bar">
      <img class="game-title" src="./assets/images/page/game-ts.png">
      <span class="glyphicon glyphicon-home"></span>

    </div>
  </div>
  <app-page-selector></app-page-selector>

</div>

<div class="work-zone">
  <app-fill-in-the-color-menu></app-fill-in-the-color-menu>
</div>
