.app-banner {
  position: relative;
  top: 0;
  background: rgba(237,240,239,1);
  background: -moz-linear-gradient(left, rgba(237,240,239,1) 0%, rgba(93,240,98,1) 58%, rgba(42,186,9,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,240,239,1)), color-stop(58%, rgba(93,240,98,1)), color-stop(100%, rgba(42,186,9,1)));
  background: -webkit-linear-gradient(left, rgba(237,240,239,1) 0%, rgba(93,240,98,1) 58%, rgba(42,186,9,1) 100%);
  background: -o-linear-gradient(left, rgba(237,240,239,1) 0%, rgba(93,240,98,1) 58%, rgba(42,186,9,1) 100%);
  background: -ms-linear-gradient(left, rgba(237,240,239,1) 0%, rgba(93,240,98,1) 58%, rgba(42,186,9,1) 100%);
  background: linear-gradient(to right, rgba(237,240,239,1) 0%, rgba(93,240,98,1) 58%, rgba(42,186,9,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0ef', endColorstr='#2aba09', GradientType=1 );
}

.control-selction {
}


.command-bar {
  height: 40px;
}

.app-title, .funn-screen-btn {
  display: inline-block;
}

.funn-screen-btn {
  font-size: 1.2em;
  color: white;
}

.top-bar {
  height: 30px;
  color: white;
  padding: 5px;
  border-bottom: 2px solid white;
  background-color: red;
}

.command-bar {
  height: 50px;
}

.game-title {
  margin: 5px;
}

