<div class="top-bar">
  <div class="app-title">{{ 'APP_TITLE' | translate:param }}</div>
  <a href="#" (click)="fullScreen = !fullScreen" class="funn-screen-btn pull-right"><span class="glyphicon glyphicon-resize-full" *ngIf="!fullScreen"></span><span class="glyphicon glyphicon-resize-small" *ngIf="fullScreen"></span></a>
</div>

<div class="work-zone">
  <div class="app-banner" *ngIf="!fullScreen">
    <div class="control-selction">
      <div class="command-bar">
        <img class="game-title" src="./assets/images/page/game-ts.png">
        <span class="glyphicon glyphicon-home"></span>
      </div>
    </div>

    <app-page-selector></app-page-selector>
  </div>

  <div class="game-work-zone" [ngStyle]="{'height': workZoneHeight + 'px'}">
    <app-fill-in-the-color-menu></app-fill-in-the-color-menu>
  </div>
</div>
