@import "assets/bootstrap-sass/variables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

.inline-block {
  display: inline-block;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  background-color: aliceblue;
}


