<div class="title">{{ 'appTitle' | translate:param }}</div><br/>

<div class="home-page">
  <div class="logo">
    <img src="./assets/images/page/rabit.png" />
  </div>

  <ul class="section" *ngFor="let ff of featuresAndFunctions" class="list-group">
    <li class="list-group-item">
      <div class="section-title"><img src="./assets/images/page/Learning-section.png" class="section-icon">{{ ff.id | translate }}</div>
      <ul class="list-group">
        <li *ngFor="let model of ff.models" class="list-group-item section-link-item">
          <a [routerLink]="[ff.id, model.id]">
            <div class="section-link">{{ model.id | translate }}<span class="glyphicon glyphicon-chevron-right pull-right"></span></div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
