<div class="logo">

  <div class="title">{{ 'appTitle' | translate:param }}</div><br/>

  <img src="./assets/images/page/rabit.png" />
</div>

<div class="container section" *ngFor="let ff of featuresAndFunctions">
  <div class="row">
    <div class="col-sm-3">
      <div class="section-title">{{ ff.id | translate }}</div>
    </div>
    <div class="col-sm-9">
      <div class="container" *ngFor="let model of ff.models">
        <div class="section-link">{{ model.id | translate }}</div>
      </div>
    </div>
  </div>
</div>
