<div class="home-page">
  <div class="logo">

    <div class="title">{{ 'appTitle' | translate:param }}</div><br/>

    <img src="./assets/images/page/rabit.png" />
  </div>

  <ul class="section" *ngFor="let ff of featuresAndFunctions" class="list-group">
    <li class="list-group-item">
      <div class="section-title">{{ ff.id | translate }}</div>
      <ul class="list-group">
        <li *ngFor="let model of ff.models" class="list-group-item">
          <div class="section-link">{{ model.id | translate }}</div>
        </li>
      </ul>
    </li>
  </ul>
</div>
